#container {
  margin:0;
  min-width:770px;
  padding:0;
  text-align:left;
  width:100%;
  border:Solid 0px black;
}
#header{
  background-color:#ff9933;
  background-image:url('../img/header_bg.png');
  height:69px;
  width:100%;
  overflow:hidden;
}
#nav_menu{
  background-image:url('../img/nav_menu_bg.png');
  height:36px;
  width:100%;
}
#body{
  background-color:#e7e6e4;
/*  border:solid 3px green;*/
  width:100%;
  overflow:auto;
}
#body-single-panel{
  background-color:#e7e6e4;  
  height:inherit;
  /*border:solid 1px red;*/
}

#body-left-panel
{
    float:left;
    background-color:#e7e6e4;  
    height:inherit;
    width:66%;
}

#body-right-panel
{
    float:right;
    background-color:#e7e6e4;
    width:33%;
    height:inherit;
}
#footer{
  background-color:#e7e6e4;
  height:52px;
  width:100%;
  overflow:visible;
  clear:both;
}
#footer_nav_menu{
  background-image:url('../img/footer_nav_menu_bg.png');
  height:26px;
  float:left;
  width:67%;
}

#footer_designby
{
    background-color: #e7e6e4;
    color: black;
    height:26px;
    width:33%;
    float:right;
}

div.designedby
{
    color: black;
}

#footer_copyright
{
    background-image: url('../img/footer_nav_menu_bg.png');
    height: 26px;
}

#footer_empty{
  background-color:#e7e6e4;
  height:26px;
  width:100%;
}

#main_header{
  font-family:"Trebuchet MS", Tahoma, Verdana;
  font-weight:bold;
  font-size:30px;
  color:#FFFFFF;
  position:relative;
  top:10px;
  left:30px;
  float:left;
  z-index:1;
}
img#header_logo{
  float:right;
  position:relative;
  /*top:23px;*/
  overflow:hidden;
  z-index:0;
}
/*============= BOXES =============*/
div.box_upper_part{
  background-image:url('../img/box_up-bg.png');
  height:29px;
  width:100%;
}
div.box_upper_part3{
  background-image:url('../img/box_up-bg.png');
  height:29px;
  border-left:solid 1px #5f626a;
  border-right:solid 1px #5f626a;
}
div.box_middle_part{
  background-color:#f6f5f4;
  border-left:solid 1px #5f626a;
  border-right:solid 1px #5f626a;
}
div.box_lower_part{
  background-image:url('../img/box_low-bg.png');
  height:22px;
  margin-bottom:15px;
}
div.box_lower_part3{
  /*background-image:url('../img/box_low-bg.png');*/
  height:22px;
  margin-bottom:15px;
  border-left:solid 1px #5f626a;
  border-right:solid 1px #5f626a;
  border-bottom:solid 1px #5f626a;
  background-color:#f6f5f4;
}
div.box_single{
  background-color:#f6f5f4;
  border:solid 1px #5f626a;
  margin-bottom:15px;
}
img.box_dot{
  float:left;
  position:relative;
  top:4px;
  left:4px;
}
/*###########################################*/
div.link_container{
  position:relative;
  top:6px;
  left:25px;
  width:90%;
}
div.footer_link_container{
  position:relative;
  top:2px;
  left:25px;
}
div.pad_15tah{
  padding:15px;
  font-family:Tahoma, Verdana;
  font-size:0.8em;
}
div.designedby{
  font-family:Verdana, Tahoma;
  font-size:0.7em;
  text-align:right;
  padding:5px;
}

div.designedby{
  color:#FFFFFF
}
span.box_header{
  position:relative;
  top:3px;
  left: 11px;
  font-family:Verdana, Tahoma;
  font-size:0.8em;
  font-weight:bold;  
}
span.link_separator{
  color: #4f4f4f; 
  text-decoration: none;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:0.7em;
  margin-left:1em;
  margin-right:1em;
}
/*============= LISTS =============*/
ul{
  font-family:Tahoma, Verdana;
  font-size:0.8em;
  vertical-align:middle;
  text-align:justify;
  line-height:15px;
  list-style-position:outside;
  margin-top:5px;
  margin-bottom:5px;
}
ul.img_orange{
  list-style-image: url('../img/li_orange.gif');
}
ul.img_red{
  list-style-image:url('../img/li_red.gif');
}
ul.img_green{
  list-style-image:url('../img/li_green.gif');

}
/*============= HR's (lines) =============*/
hr.hr_orange{
  height:0px;
  border-top:Solid 1px #ff8a00;
  margin:0;
}
hr.hr_gray{
  height:0px;
  border-top:Solid 1px #6c6f79;
  margin:0;
}
/*============= FORM INPUT ELEMENTS =============*/
input.i_button{
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #ae4a01;
  border: 1px solid #8b8d95;
  background-color: #ebeaea;
  background-image: url(../img/button_bg.gif);
  font-weight: bold;
  font-size: 11px;
  height:21px;
  vertical-align: middle;
}
input.i_textfield{ 
  font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #000000; 
  border: 1px solid #b3b9c3; 
  background-color: White;
  font-size: 11px;
}
/*============= LINKS =============*/
a:link {
  color: #040404; 
  text-decoration: underline;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:0.9em;
}
a:visited{
  color: #797979;
  text-decoration: underline;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:0.9em;  
}
a:hover{
  color: #f0812f;
  text-decoration:underline;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:0.9em;  
}
/*************************/
a.main_nav:link {
  color: #4f4f4f; 
  text-decoration: none;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:0.7em;
}
a.main_nav:visited{
  color: #4f4f4f;
  text-decoration: none;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:0.7em;  
}
a.main_nav:hover{
  color: #a94001;
  text-decoration:underline;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:0.7em;  
}
/*************************/
a.brown:link {
  color: #ce4e01; 
  text-decoration: underline;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:0.9em;
}
a.brown:visited{
  color: #bb9d8b;
  text-decoration: underline;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:0.9em;  
}
a.brown:hover{
  color: #ff0202;
  text-decoration:underline;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:0.9em;  
}
/*************************/
a.orange:link {
  color: #ff8a00; 
  text-decoration: underline;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:0.9em;
}
a.orange:visited{
  color: #bb9d8b;
  text-decoration: underline;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:0.9em;  
}
a.orange:hover{
  color: #ff0202;
  text-decoration:underline;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:0.9em;  
}
/*************************/
a.graformix:link {
  color: #FFFFFF; 
  text-decoration: underline;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:1.0em;
}
a.graformix:visited{
  color: #FFFFFF;
  text-decoration: underline;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:1.0em;  
}
a.graformix:hover{
  color: #040404;
  text-decoration:underline;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:1.0em;  
}
/*************************/

.underline {
  text-decoration: underline;
}
.align-left{
  float:left;
}
.align-right{
  float:right;
}
