body
{
  background-color:#e7e6e4;
/*  border:solid 3px green;*/
  width:100%;
  overflow:auto;
}

ul, li
{
  margin:0;
  padding:0; 
  list-style:none;
}

.menu_head
{
  display: block;
  border: 1px solid #998675;
  margin-left: auto;
  margin-right: auto;
}

.menu_body 
{
  display:none; 
  width:184px;
  border-right:1px solid #998675;
  border-bottom:1px solid #998675;
  border-left:1px solid #998675;
  margin-left: auto;
  margin-right: auto;
}

.menu_body li
{
  background:#493e3b;
}

.menu_body li a
{
  color:#FFFFFF; 
  text-decoration:none;
  padding:10px; 
  display:block;
}

.menu_body li.alt
{
  background:#362f2d;
}

div.box_upper_part
{
  background-image:url('../img/box_up-bg.png');
  height:29px;
  width:100%;
}

div.box_middle_part
{
  background-color:#f6f5f4;
  border-left:solid 1px #5f626a;
  border-right:solid 1px #5f626a;
}

div.box_lower_part
{
  background-image:url('../img/box_low-bg.png');
  height:22px;
  margin-bottom:15px;
}

#body-left-panel
{
  float:left;
  background-color:#e7e6e4;  
  height:inherit;
  width:100%;
}

div.pad_15tah
{
  padding:15px;
  font-family:Tahoma, Verdana;
  font-size:0.8em;
}

span.box_header
{
  position:relative;
  top:3px;
  left: 11px;
  font-family:Verdana, Tahoma;
  font-size:0.8em;
  font-weight:bold;  
}

.align-left
{
  float:left;
}
.align-right
{
  float:right;
}